@model Adm_AutoGestion.Models.Departamento
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMaestra.cshtml";
}


<br />
<br />
<br />
<br />

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="card">
        <div class="card-header  colorTitulo mb-3 d-flex align-items-center justify-content-center">
            <h2>Editar Departamento</h2>

        </div>

        <div class="card-body">
            <fieldset>
                @Html.HiddenFor(model => model.Id)
                <br />
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">

                            <div class="editor-label">
                                @*@Html.LabelFor(model => model.GrupoId)*@
                                Nombre
                            </div>
                            <div class="editor-field">
                                @*@Html.EditorFor(model => model.GrupoId)*@
                                @Html.TextBox("Nombre", null, htmlAttributes: new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.Nombre)
                            </div>
                        </div>
                        <div class="col-sm-4">

                            <div class="editor-label">
                                @*@Html.LabelFor(model => model.GrupoId)*@
                                Codigo del Departarmento
                            </div>
                            <div class="editor-field">
                                @*@Html.EditorFor(model => model.GrupoId)*@
                                @Html.TextBox("CodDepartamento", null, htmlAttributes: new { @class = "form-control", required = "required", type = "number" })
                                @Html.ValidationMessageFor(model => model.CodDepartamento)
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="editor-label">
                                Estado
                            </div>
                            <div class="editor-field">
                                @* @Html.EditorFor(model => model.Funcion)*@
                                @Html.TextBox("Estado", null, htmlAttributes: new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(model => model.Estado)
                            </div>
                        </div>

                    </div>
                </div>
                <br />
                <br />
                <div class="card-footer d-flex align-items-center justify-content-center">
                    <p>
                        <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                    </p>
                </div>

            </fieldset>
        </div>

    </div>
}

<div class="container">


    <br />
    <div>
        @Html.ActionLink("Volver a la Lista", "Index")
    </div>

</div>
