@model List<Adm_AutoGestion.Models.DetalleHorasExtra>

@{

    ViewBag.Title = "Detalle de Horas Extra";
    bool Count = true;
}

    <div class="card">
        <div class="container-fluid">
            <br />
            <form action="javascript:;" method="post" id="form" enctype="multipart/form-data">
                <div class="form-group col-md-12">

                    @*Primera Fila*@

                    <div class="card">
                        <div class="card-header">
                            <div class="row justify-content-center">
                                <div class="col-3">

                                    <h4>Datos Del Empleado </h4>
                                    @*<input type="text" class="form-control" value="" disabled="disabled" />*@

                                    <br />
                                </div>

                            </div>
                        </div>


                        @*Segunda Fila - Tabla*@
                        <div class="row justify-content-start">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-sm">
                                        <tr>
                                            <th>
                                                @*Numerto del proceso*@

                                            </th>
                                            <th>
                                                Documento
                                            </th>
                                            
                                            <th>

                                                Nombre
                                            </th>
                                            <th>

                                                Cargo
                                            </th>
                                            <th>

                                                Sociedad
                                            </th>
                                            <th>

                                                Area
                                            </th>
                                            <th>

                                                Codigo del Empleado
                                            </th>
                                            <th></th>
                                        </tr>

                                        @foreach (var detalle in ViewBag.DetalleHorasExtra)
                                        {
                                            <tr>
                                                @if (Count)
                                                {

                                                    <td>
                                                    </td>
                                                    <td>
                                                        @detalle.HorasExtra.Empleado.Documento
                                                    </td>
                                                    

                                                    <td>
                                                        @detalle.HorasExtra.Empleado.Nombres
                                                    </td>
                                                    <td>
                                                        @detalle.HorasExtra.Empleado.Cargo
                                                    </td>
                                                    <td>
                                                        @detalle.HorasExtra.Empleado.Empresa
                                                    </td>
                                                    <td>
                                                        @detalle.HorasExtra.Empleado.AreaDescripcion
                                                    </td>
                                                    <td>
                                                        @detalle.HorasExtra.Empleado.NroEmpleado
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }

                                            </tr>
                                            Count = false;
                                        }
                                    </table>


                                </div>                            <br />
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-3">

                                    <h4 for="FechaRegistro">Detalles Horas Extra </h4>
                                    @*<input type="text" class="form-control" value="" disabled="disabled" />*@

                                    <br />
                                </div>

                            </div>
                        </div>


                        <div class="row justify-content-start">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-sm">
                                        <tr>
                                            <th>
                                                No. Solicitud

                                            </th>

                                            <th>
                                                Fecha
                                            </th>

                                            <th>

                                                Hora Desde
                                            </th>
                                            <th>

                                                Hora Hasta
                                            </th>
                                            <th>

                                                Horas Diurnas
                                            </th>
                                            <th>

                                                Horas Nocturnas
                                            </th>
                                            <th>

                                                Horas Diurnas Festivo
                                            </th>
                                            <th>

                                                Horas Nocturnas Festivo
                                            </th>
                                            <th>

                                                Total
                                            </th>
                                            <th>

                                                Motivo
                                            </th>

                                            <th></th>
                                        </tr>

                                        @foreach (var detalle in ViewBag.DetalleHorasExtra)
                                        {
                                            <tr>


                                                <td>
                                                    @detalle.HorasExtra.Id
                                                </td>
                                                <td>
                                                    @Convert.ToDateTime(detalle.Fecha).ToString("dd/MM/yyyy")
                                                </td>

                                                <td>
                                                    @Convert.ToDateTime(detalle.HoraDesde).ToString("HH:mm tt")
                                                </td>
                                                <td>
                                                    @Convert.ToDateTime(detalle.HoraHasta).ToString("HH:mm tt")
                                                </td>
                                                <td>
                                                    @detalle.LiquidacionDiurna
                                                </td>
                                                <td>
                                                    @detalle.LiquidacionNocturna
                                                </td>
                                                <td>
                                                    @detalle.LiquidacionDiurnaFestivo
                                                </td>
                                                <td>
                                                    @detalle.LiquidacionNocturnaFestivo
                                                </td>
                                                <td>
                                                    @detalle.TotalHoras
                                                </td>
                                                <td>
                                                    @detalle.MotivoTrabajoHE.Descripcion
                                                </td>


                                            </tr>
                                        }

                                    </table>


                                </div>                           
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.HorasExtra != null &&
ViewBag.HorasExtra.TotalLiquidacionDiurna != null &&
ViewBag.HorasExtra.TotalLiquidacionNocturna != null &&
ViewBag.HorasExtra.TotalLiquidacionDiurnaFestivo != null &&
ViewBag.HorasExtra.TotalLiquidacionNocturnaFestivo != null &&
ViewBag.HorasExtra.TotalHoras != null)
                    {
                        <div class="card-header">
                            <div class="row justify-content-center">
                                <div class="col-3">

                                    <h4 for="FechaRegistro" class="text-center">Total Horas Extra</h4>
                                    @*<input type="text" class="form-control" value="" disabled="disabled" />*@

                                    <br />
                                </div>

                            </div>
                        </div>
                        <table class="table table-striped display dataTable table-sm" id="Exportar_a_Excel_HorasExtra">
                            <thead>
                                <tr>

                                    <th>
                                        Total Diurnas
                                    </th>
                                    <th>
                                        Total Nocturnas
                                    </th>
                                    <th>
                                        Total Diurnas Festivo
                                    </th>
                                    <th>
                                        Total Nocturnas Festivo
                                    </th>
                                    <th>
                                        Total Horas
                                    </th>





                                </tr>
                            </thead>
                            <tbody>
                                <tr>


                                    <td>
                                        @ViewBag.HorasExtra.TotalLiquidacionDiurna
                                    </td>
                                    <td>
                                        @ViewBag.HorasExtra.TotalLiquidacionNocturna
                                    </td>
                                    <td>
                                        @ViewBag.HorasExtra.TotalLiquidacionDiurnaFestivo
                                    </td>
                                    <td>
                                        @ViewBag.HorasExtra.TotalLiquidacionNocturnaFestivo
                                    </td>
                                    <td>
                                        @ViewBag.HorasExtra.TotalHoras
                                    </td>





                                </tr>

                            </tbody>
                        </table>
                    }
                    @*Fila del Estado*@
                    <div class="row justify-content-start">

                        <div class="col-6" style="text-align:left">
                            <br />
                            <label>Estado:</label>
                            <select class="form-control" Id="Estado" name="Estado" onchange="javascript:HEMostrarObservaciones();">

                                <option value="Seleccione...">Seleccione...</option>
                                <option value="Aprobar">Aprobar</option>
                                <option value="Denegar">Denegar</option>
                            </select>

                        </div>
                        <div class="col-6" style="text-align:left">
                        </div>

                    </div>
                    <div id="divObservaciones" style="display:none;">
                        <br />
                        <label>Observaciones:</label>
                        <textarea class="form-control" id="Observaciones" name="Observaciones"></textarea>
                    </div>
                    @*Campo oculto para almacenar el Id del detalle de horas extra*@
                    <input type="hidden" id="HorasExtraId" value="@ViewBag.HorasExtraId" />


                    @*Boton*@
                    <div class="row justify-content-start">
                        <div class="col-12" style="text-align:center">
                            <br />
                            <button type="submit" id="AprobacionJefe" name="AprobacionJefe" class="bi bi-save btn btn-outline-primary rounded-pill mb-2"  onclick="javascript:return JefeDirectoHorasExtra();"> Guardar </button>
                            <br />
                        </div>

                    </div>
                    <br />
                </div>
            </form>

        </div>
    </div>

<script>
    function HEMostrarObservaciones() {
        var estadoSeleccionado = document.getElementById("Estado").value;
        var divObservaciones = document.getElementById("divObservaciones");


        divObservaciones.style.display = (estadoSeleccionado === "Denegar") ? "block" : "none";
    }
    
</script>
