@model Adm_AutoGestion.Models.ProcesoDisciplinario

@{
    ViewBag.Title = "Dashboar";
    Layout = "~/Views/Shared/_LayoutMaestra.cshtml";
}





<form>
    <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="row row-cols-1">
                    <div class="overflow-hidden d-slider1">
                        <ul class="p-0 m-0 mb-2 swiper-wrapper list-inline">
                            <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="700" id="activos">
                                <div class="card-body">
                                    <div class="progress-widget" id="activos1">
                                        <div id="circle-progress-01" class="text-center circle-progress-01 circle-progress circle-progress-primary" data-min-value="0" data-max-value="100" data-value="50" data-type="percent">
                                            <svg class="card-slie-arrow icon-24" width="24" viewBox="0 0 24 24">
                                                <path fill="currentColor" d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z" />
                                            </svg>
                                        </div>
                                        <div class="progress-detail">
                                            <p class="mb-2">Procesos Activos</p>
                                            <h5 class="counter">@ViewBag.CntProcesosAc</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="800" id="anulados">
                                <div class="card-body">
                                    <div class="progress-widget" id="anulados1">
                                        <div id="circle-progress-02" class="text-center circle-progress-01 circle-progress circle-progress-info" data-min-value="0" data-max-value="100" data-value="50" data-type="percent">
                                            <svg class="card-slie-arrow icon-24" width="24" viewBox="0 0 24 24">
                                                <path fill="currentColor" d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z" />
                                            </svg>
                                        </div>
                                        <div class="progress-detail">
                                            <p class="mb-2">Procesos Anulados</p>
                                            <h5 class="counter">@ViewBag.CntProcesosAn</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="900" id="cerrados">
                                <div class="card-body">
                                    <div class="progress-widget" id="cerrados1">
                                        <div id="circle-progress-03" class="text-center circle-progress-01 circle-progress circle-progress-primary" data-min-value="0" data-max-value="100" data-value="50" data-type="percent">
                                            <svg class="card-slie-arrow icon-24" width="24" viewBox="0 0 24 24">
                                                <path fill="currentColor" d="M19,6.41L17.59,5L7,15.59V9H5V19H15V17H8.41L19,6.41Z" />
                                            </svg>
                                        </div>
                                        <div class="progress-detail">
                                            <p class="mb-2">Procesos Cerrados</p>
                                            <h5 class="counter">@ViewBag.CntProcesosC</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide card card-slide" data-aos="fade-up" data-aos-delay="1000" id="RJ">
                                <div class="card-body">
                                    <div class="progress-widget" id="RJ1">
                                        <div id="circle-progress-04" class="text-center circle-progress-01 circle-progress circle-progress-info" data-min-value="0" data-max-value="100" data-value="50" data-type="percent">
                                            <svg class="card-slie-arrow icon-24" width="24px" viewBox="0 0 24 24">
                                                <path fill="currentColor" d="M5,17.59L15.59,7H9V5H19V15H17V8.41L6.41,19L5,17.59Z" />
                                            </svg>
                                        </div>
                                        <div class="progress-detail">
                                            <p class="mb-2">Procesos Juridica</p>
                                            <h5 class="counter">@ViewBag.CntProcesosRJ</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                          
                         

                        </ul>
                        <div class="swiper-button swiper-button-next"></div>
                        <div class="swiper-button swiper-button-prev"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</form>

    @*<form>
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title" Dashboard</h4>
                </div>


            </div>
            <div class="card-body">
                <div class="row" align="center">

                    <div class="col-md-3" align="center" id="activos">
                        <div class="card" id="activos1">
                            <div  class="card-header colorGrisOscuro bg-info">
                                <b>   Procesos Activos </b> 
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@ViewBag.CntProcesosAc</h5>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" align="center" id="anulados">
                        <div class="card" id="anulados1">
                            <div  class="card-header colorGrisOscuro bg-warning">
                                <b> Procesos Anulados </b> 
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@ViewBag.CntProcesosAn</h5>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" align="center" id="cerrados">
                        <div class="card" id="cerrados1">
                            <div class="card-header colorGrisOscuro bg-danger">
                                <b>  Procesos Cerrados </b> 
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@ViewBag.CntProcesosC</h5>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" align="center" id="RJ">
                        <div class="card" id="RJ1">
                            <div  class="card-header colorGrisOscuro bg-success">
                                <b> Procesos Remitidos a Juridica </b> 
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@ViewBag.CntProcesosRJ </h5>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </form>*@

<script>
    $(document).ready(function () {
        $('#activos1').css('cursor', 'pointer');
        $('#anulados1').css('cursor', 'pointer');
        $('#cerrados1').css('cursor', 'pointer');
        $('#RJ1').css('cursor', 'pointer');
        $('#activos').click(function () { window.location.href = 'DetalleProcesoDisciplinario?EmpleadoCP=&EmpleadoI=&FechaProcesoI=&FechaProcesoF=&Estado=Activo&NmrProceso=&Prioridad='; });
        $('#anulados').click(function () { window.location.href = 'DetalleProcesoDisciplinario?EmpleadoCP=&EmpleadoI=&FechaProcesoI=&FechaProcesoF=&Estado=Anulado&NmrProceso=&Prioridad='; });
        $('#cerrados').click(function () { window.location.href = 'DetalleProcesoDisciplinario?EmpleadoCP=&EmpleadoI=&FechaProcesoI=&FechaProcesoF=&Estado=Cerrado&NmrProceso=&Prioridad='; });
        $('#RJ').click(function () { window.location.href = 'DetalleProcesoDisciplinario?EmpleadoCP=&EmpleadoI=&FechaProcesoI=&FechaProcesoF=&Estado=Remitido+a+Juridica&NmrProceso=&Prioridad='; });

    });

</script>