@model IEnumerable<Adm_AutoGestion.Models.TiposIncapacidad>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaestra.cshtml";
}
<div class="container">


<br />
<br />
<h2>Tipos de Incapacidad</h2>
<br />
<br />

<p>
    @Html.ActionLink("Crear Nuevo Tipo", "Create")
</p>


<br />
<div class = "table-responsive">
<table class= "table table-hover table-sm">
    <tr class="table-info">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
          Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoVacaciones.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
</div>
</div>