@model IEnumerable<Adm_AutoGestion.Models.DetallePazySalvo>

<div class="container">
<br />
<br />
<div align="center">
<h2>Detalle Paz y Salvo</h2>
</div>
<br />
<br />
</div>

<div class="container-fluid" style=" padding-right: 50px;padding-left: 50px;">
<table class= "table table-hover display dataTable table-sm" id ="Exportar_a_Excel">
<thead>
    <tr class="table-info">
      
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responsable)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Firma)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FechaFirma)
        </th>
        
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Nombres)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Firma)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.FechaFirma)
        </td>
       
    </tr>
}

</tbody>
</table>
<br />
<br />
<br />
</div>
