@model IEnumerable<Adm_AutoGestion.Models.PDAnexos>

@{
    Adm_AutoGestion.Models.Empleado Item = ViewBag.Empleado;
}

<div class="container">
<br />
<br />
    <div class="form-inline" role="form">
  <div class="container-fluid">
    <div class="row">
            <div class="col-sm">
                <div class ="form-group">
                  &nbsp&nbsp&nbsp
                  <label for="Nombre" class="control-label col-sm-1">Empleado Registra: </label>  &nbsp&nbsp&nbsp
                  <input  type = "text" class="form-control col-sm-7" id = "Nom" value="@Item.Nombres" readonly="true"/>
                </div>
            </div>
       </div>
   </div>
 </div>
    <br />

<div class = "table-responsive">
<table class= "table table-hover">
    <tr class="table-info">
       @* <th>
            @Html.DisplayNameFor(model => model.IncapacidadId)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Archivo)
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.IncapacidadId)
        </td>*@

        <td>
            @Html.DisplayFor(modelItem => item.Archivo)
        </td>
        <td>
            @Html.ActionLink("Descargar Archivo", "Download1", new { archivo=item.Archivo })
        </td>
       
    </tr>
}

</table>
    <br />
</div>


</div>

