@model IEnumerable<Adm_AutoGestion.Models.ProcesoDisciplinario>

@{
    ViewBag.Title = "GestionHumana";
    Layout = "~/Views/Shared/_LayoutMaestra.cshtml";
    Adm_AutoGestion.Models.ProcesoDisciplinario Item = ViewBag.ProcesoDisciplinario;
}
<div class="container">

<br />
<br />
<br />
<h2 style="text-align:center">Gestion Humana</h2>


</div>
<br />
<br />
<br />


<div class="container-fluid">
<div class = "table-responsive">
<table class= "table table-hover ">
    <tr class="table-info">
        <th>
            @*@Html.DisplayNameFor(model => model.EmpleadoRegistraId)*@
           Empleado Registra
        </th>
        <th>
               @*@Html.DisplayNameFor(model => model.FechaRegistro)*@
            Fecha Registro
        </th>
        <th>
             Empleados Implicados
        </th>
        <th>
             @* @Html.DisplayNameFor(model => model.Fundamentos)*@
            Fundamentos
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.Pretencion)*@
           Pretencion
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.PDTrabajador)*@
              Pruebas
        </th>
            <th>
            @*@Html.DisplayNameFor(model => model.Adjuntos)*@
              Anexos
        </th>

        <th>
            @*@Html.DisplayNameFor(model => model.EstadoId)*@
            Estado
        </th>

        <th>
     @*       @Html.DisplayNameFor(model => model.Adjunto)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
              @Html.ActionLink(@item.Empleado.Nombres, "Details2", "Empleado", new { id = item.EmpleadoRegistraId }, new { data_modal = "" })
        </td>
        <td>
             @Convert.ToDateTime(item.FechaRegistro).ToString("dd/MM/yyyy")
        </td>
        <td>
               <!--Empleados Implicados-->
          @Html.ActionLink("Ver Empleados", "Implicado1", new { Id = item.Id,Id2=item.EmpleadoRegistraId }, new { data_modal7 = "" })
          @*  Html.DisplayFor(modelItem => item.PDTrabajador.EmpleadoId)*@
        </td>
        <td>
                @Html.ActionLink("Ver", "Fundamentos", new { id = item.Id }, new { data_modal13 = "" })
                  @*@Html.DisplayFor(modelItem => item.Fundamentos)*@
        </td>
        <td>
                @Html.ActionLink("Ver", "Pretencion", new { id = item.Id }, new { data_modal12 = "" })
                  @*@Html.DisplayFor(modelItem => item.Pretencion)*@
        </td>
        <td>
              <!--Pruebas acerca del proceso-->
          @Html.ActionLink("Ver Pruebas", "Prueba1", new { Id=item.Id ,Id2=item.EmpleadoRegistraId}, new { data_modal6 = "" })
          @* @Html.DisplayFor(modelItem => item.PDPruebas)*@
        </td>
        <td>
       <!--Anexos del proceso disciplinario-->
          @Html.ActionLink("Ver Anexos", "Anexo1", new { Id=item.Id,Id2=item.EmpleadoRegistraId }, new { data_modal5 = "" })
       @*       @Html.DisplayFor(modelItem => item.PDAnexos)*@
        </td>
         <td>
          @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td></td>
        <td>
            @Html.ActionLink("Ver", "Gestion1", new { id=item.Id}, new { data_modal9 = "" } )
        </td>
        
    </tr>
}

</table>
</div>
</div>

<div class="modal fade in" id="modal_Implicados">
  <div class="modal-dialog modal-xl " >
    <div class="modal-content">
      <div class="modal-header" style="background-color:#0B9ACF">
        <h5 class="modal-title text-white">Empleados Implicados en el proceso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id ="contentModal7">
       <br />
        <br />
 </div>
      
    </div>
  </div>
</div>

<div class="modal fade in" id="modal_Pruebas">
  <div class="modal-dialog modal-xl " >
    <div class="modal-content">
      <div class="modal-header" style="background-color:#0B9ACF">
        <h5 class="modal-title text-white">Pruebas del Proceso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id ="contentModal6">
       <br />
        <br />
 </div>
      
    </div>
  </div>
</div>

<div class="modal fade in" id="modal_Anexos">
  <div class="modal-dialog modal-xl " >
    <div class="modal-content">
      <div class="modal-header" style="background-color:#0B9ACF">
        <h5 class="modal-title text-white">Anexos del Proceso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id ="contentModal5">
       <br />
        <br />
 </div>
      
    </div>
  </div>
</div>

<div class="modal fade in" id="modal_Gestion">
  <div class="modal-dialog modal-xl " >
    <div class="modal-content">
      <div class="modal-header" style="background-color:#0B9ACF">
        <h5 class="modal-title text-white">Remitir a juridica</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id ="contentModal9">
       <br />
        <br />
 </div>
      
    </div>
  </div>
</div>

<div class="modal fade in" id="modal_Pretencion">
  <div class="modal-dialog modal-xl " >
    <div class="modal-content">
      <div class="modal-header" style="background-color:#0B9ACF">
        <h5 class="modal-title text-white">Pretencion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id ="contentModal12">
       <br />
        <br />
 </div>
      
    </div>
  </div>
</div>
<div class="modal fade in" id="modal_Fundamento">
  <div class="modal-dialog modal-xl " >
    <div class="modal-content">
      <div class="modal-header" style="background-color:#0B9ACF">
        <h5 class="modal-title text-white">Fundamentos </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id ="contentModal13">
       <br />
        <br />
 </div>
      
    </div>
  </div>
</div>