@model Adm_AutoGestion.Models.ProcesoDisciplinario
@{
 Adm_AutoGestion.Models.ProcesoDisciplinario Item = ViewBag.ProcesoDisciplinario;
 }
<div class="container">


    <div class="card-body">
     <form  action="~/ProcesoDisciplinario/Respuesta1" method="post">
         <div class="row justify-content-start">
             
             <div class="col-3" style="text-align:left">
                 <br />
                <label for="Nombre">Fecha Registro: </label>
             <input  type = "text" class="form-control" id="FechaInicial" name="FechaInicial" value="@Convert.ToDateTime(Item.FechaRegistro).ToString("dd/MM/yyyy")"disabled = "disabled"  />
            
            </div>
               <div class="col-6" style="text-align:left">
                   <br />
                <label for="Nombre">Empleado Registra: </label>
                <input  type = "text" class="form-control" id = "Nom" value=" @Item.Empleado.Nombres" readonly="true"/>
            </div>
           <div class="col-3" style="text-align:left">
               <br />
                 <label for="Nombre">Documento Empleado: </label>
               <input  type = "text" class="form-control" id = "Doc" value="@Item.Empleado.Documento" disabled = "disabled" />
            </div>
          
                 <div class="col-12" style="text-align:left">
                        <label for="comment">Fundamentos:</label>
                        <textarea class="form-control" rows="4" id="Fundamentos" name="Fundamentos" readonly>@Item.Fundamentos</textarea>
                </div>

            <div class="col-12" style="text-align:left">
                        <label for="comment">Pretensión:</label>
                        <textarea class="form-control" rows="4"   id="Pretencion" name="Pretencion" readonly>@Item.Pretencion</textarea>
                </div>
            </div>

       
        <br />
                 <div class="row justify-content-start">
                <div class="col-12" style="text-align:left">
                        <label for="comment">Respuesta Juridica:</label>
                        <textarea class="form-control" rows="4" id="RJuridica" name="RJuridica"></textarea>
                </div>
            </div>
       
    <div class="row justify-content-start">
            <div class="col-3" style="text-align:left">
                <label for="exampleFormControlSelect1">Estado: </label>
                 <input type="hidden" id="Id" name="Id" value="@Item.Id" />
                 <input type="hidden" id="Empleado" name="Empleado" value="@Item.Empleado.Id" />
                  <input type="hidden" id="NroEmpleado" name="NroEmpleado" value="@Item.Empleado.NroEmpleado" />
                 
                 <select class="form-control" id="Estado" name="Estado">
                      <option>Cerrado</option>
                      <option>Anulado</option>
                 </select>
            </div>

        </div>

        <div class="row justify-content-start">
            <div class="col-12" style="text-align:center">
                <button type = "submit" id = "Search" class="btn" style="background-color:#96D44D; color:white; " >Guardar</button>
            </div>
        </div>



    
</form>
        </div>
    </div>