@model IEnumerable<Adm_AutoGestion.Models.DetalleEntregaEPP>

@{
    ViewBag.Title = "Copiar Acta";
    Layout = "~/Views/Shared/_LayoutMaestra.cshtml";
}

<h2 class="colorTitulo mt-3 text-center">Edicion de Acta Copiada (@Model.Count())</h2>

<p>
    @Html.ActionLink(" Modificar Fechas", "ModificarFechas", "DetalleEntregaEPP", new { id = ViewBag.NumeroEntrega }, new { @class = "bi bi-pencil btn btn-outline-primary mb-2", data_modal3 = "" })
</p>

<table class="table table-hover table-sm" id="Exportar_a_Excel">
    <thead>
        <tr class="fondoDegradado text-white align-middle">
            <th>
                Nro. Entrega
            </th>
            <th>
                Documento
            </th>
            <th>
                Empleado
            </th>

            <th>
                Elemento de Protección Personal
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                Motivo Entrega
            </th>
            <th>
                Fecha Entrega
            </th>
            <th>
                Fecha Vencimiento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFirma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado.Nombres)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ElementosProtecionPersonal.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MotivoEntrega)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Fecha)*@
                    @Convert.ToDateTime(item.Fecha).ToString("dd/MM/yyyy")

                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.FechaFin)*@
                    @Convert.ToDateTime(item.FechaFin).ToString("dd/MM/yyyy")

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFirma)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Observacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>

                <td>
                    @Html.ActionLink("Editar", "EditarCopiaActa", new { id = item.Id, numero = item.NumeroEntrega }) |
                    @Html.ActionLink("Eliminar", "EliminarActa", new { id = item.Id, numero = item.NumeroEntrega })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade in" id="modal_ModificarFechas">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#0B9ACF">
                <h5 class="modal-title text-white"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div id="contentModal3">
                <br />
                <br />
            </div>

        </div>
    </div>
</div>