@model Adm_AutoGestion.Models.Empleado
@using System.Web.UI.WebControls;
@{
    ViewBag.Title = "Create2";
    Layout = "~/Views/Shared/_LayoutMaestra.cshtml";
}


@{var ListItems = new List<ListItem> {
        new ListItem { Text = "SI", Value = "SI" },
        new ListItem { Text = "NO", Value = "NO" }
        };

    var Generos = new List<ListItem> {
        new ListItem { Text = "Masculino", Value = "1" },
        new ListItem { Text = "Femenino", Value = "2" }
        };
}
<div class="container">


    <br />
    <br />
    <center><h2>Crear Empleado</h2></center>
    <br />
    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>

            @*<div class="container">*@
            <div class="row justify-content-start">
                <div class="col-md-3" style="text-align:center">

                    <br />
                    <img src="~/Contents/image/afiliacion.png" class="rounded mx-auto d-block">
                    <br />

                </div>
                <div class="col-md-9">
                    <div class="card ">
                        <div class="card-header text-white fondoDegradado text-white"><b> Datos Basicos del Empleado</b> </div>
                        <br />
                        <div class="card-body">
                            <div class="row justify-content-start">
                                <div class="col-6">
                                    <div class="editor-field">
                                        @Html.TextBox("Documento", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Documento", Required = true })
                                        @Html.ValidationMessageFor(model => model.Documento)
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="editor-field">

                                        @Html.TextBox("NroEmpleado", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Numero Empleado", Required = true })
                                        @Html.ValidationMessageFor(model => model.NroEmpleado)
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        @Html.TextBox("Apellidos", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Apellidos", Required = true })
                                        @Html.ValidationMessageFor(model => model.Nombres)
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        @Html.TextBox("NombresEmp", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Nombres", Required = true })
                                        @Html.ValidationMessageFor(model => model.Nombres)
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        @Html.TextBox("Empresa", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Empresa", Required = true })
                                        @Html.ValidationMessageFor(model => model.Empresa)
                                    </div>
                                </div>



                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        @Html.TextBox("Correo", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Correo", Required = true })
                                        @Html.ValidationMessageFor(model => model.Correo)

                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        @Html.TextBox("CorreoPersonal", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Correo Personal", Required = true })
                                        @Html.ValidationMessageFor(model => model.CorreoPersonal)

                                    </div>
                                </div>


                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        @Html.TextBox("Telefono", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Telefono" })
                                        @Html.ValidationMessageFor(model => model.Telefono)
                                    </div>
                                </div>


                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        @Html.TextBox("Jefe", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Jefe", Required = true })
                                        @Html.ValidationMessageFor(model => model.Jefe)
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        @Html.TextBox("Superior", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Superior" })
                                        @Html.ValidationMessageFor(model => model.Superior)
                                    </div>
                                </div>


                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        @Html.TextBox("Director", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Director" })
                                        @Html.ValidationMessageFor(model => model.Director)
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        @Html.TextBox("Area", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Area" })
                                        @Html.ValidationMessageFor(model => model.Area)
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        @Html.TextBox("AreaDescripcion", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Area Descripcion" })
                                        @Html.ValidationMessageFor(model => model.Area)
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        @Html.TextBox("UnidadOrganizativa", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Unidad Organizativa", Required = true })
                                        @Html.ValidationMessageFor(model => model.UnidadOrganizativa)
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        @Html.TextBox("Cargo", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Cargo", Required = true })
                                        @Html.ValidationMessageFor(model => model.UnidadOrganizativa)
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        @Html.TextBox("RH", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "RH", Required = true })
                                        @Html.ValidationMessageFor(model => model.UnidadOrganizativa)
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        <div class="editor-label">
                                            FechaIngreso
                                        </div>
                                        @Html.TextBox("FechaIngreso", null, htmlAttributes: new { @class = "form-control", type = "date", autocomplete = "off", placeholder = "FechaIngreso", Required = true })
                                        @Html.ValidationMessageFor(model => model.UnidadOrganizativa)
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        <div class="editor-label">
                                            FechaFin
                                        </div>
                                        @Html.TextBox("FechaFin", null, htmlAttributes: new { @class = "form-control", type = "date", autocomplete = "off", placeholder = "FechaFin", Required = true })
                                        @Html.ValidationMessageFor(model => model.UnidadOrganizativa)
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        <div class="editor-label">
                                            Fecha de Nacimiento
                                        </div>
                                        @Html.TextBox("FechaNacimiento", null, htmlAttributes: new { @class = "form-control", type = "date", autocomplete = "off", placeholder = "FechaNacimiento", Required = true })
                                        @Html.ValidationMessageFor(model => model.UnidadOrganizativa)
                                    </div>
                                </div>

                                <div class="col-6">
                                    <br />
                                    <div class="editor-label">
                                        Género
                                    </div>
                                    @Html.DropDownList("Genero", new SelectList(Generos), "Seleccione...", htmlAttributes: new { @class = "form-control selectpicker" })
                                </div>
                                <div class="col-6">
                                    <br />
                                    <div class="editor-label">
                                        Tipo de Area
                                    </div>
                                    @Html.DropDownList("TipoArea", new SelectList(ViewBag.TiposdeArea, "Value", "Text"), "Seleccione...", htmlAttributes: new { @class = "form-control selectpicker" })
                                </div>
                                <div class="col-6">
                                    <div class="editor-field">
                                        <br />
                                        <div class="editor-label">
                                            EPS
                                        </div>
                                        @Html.TextBox("EPS", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "EPS", Required = true })
                                        @Html.ValidationMessageFor(model => model.UnidadOrganizativa)
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row justify-content-start">
                                <div class="col-6">
                                    <div class="editor-label">
                                        Contraseña
                                    </div>
                                    @Html.TextBox("Contraseña", null, htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Contraseña" })
                                    @Html.ValidationMessageFor(model => model.Contraseña)
                                </div>
                                <div class="col-6">
                                    <div class="editor-label">
                                        Activo
                                    </div>

                                    @Html.DropDownListFor(model => model.Activo, new SelectList(ListItems, "Value", "Text"), "Seleccione...", htmlAttributes: new { @class = "form-control", autocomplete = "off", placeholder = "Activo" })
                                    @Html.ValidationMessageFor(model => model.Activo)
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <br />
                    <br />
                    <div class="row justify-content-center">
                        <div class="col-4 " style="text-align:end">
                            <input type="submit" value="Crear" class="btn" style="background-color:#96D44D; color:white" />
                        </div>
                        <div class="col-4">
                            @Html.ActionLink("Atras", "Index2", null, new { @class = "btn", style = "background-color:#96D44D; color:white" })

                        </div>
                    </div>

                </div>
            </div>
            <br />
            <br />



        </fieldset>
    }


</div>
