@model IEnumerable<Adm_AutoGestion.Models.DetalleEventos>

@{
    ViewBag.Title = "VerAsistentes";
    Layout = "~/Views/Shared/_LayoutMaestra.cshtml";
}

<div class="card mt-3">
    <div class="card-header d-flex justify-content-between">
        <div class="header-title">
            <h4 class="card-title">Asistentes</h4>
        </div>


    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-sm " id="tbl_asistenteseventos">
                @if (ViewBag.EsFamiliar != false || ViewBag.EsAmbos == true)
                {
                    <thead>
                        <tr>
                            <th>
                                Nombre del Familiar
                            </th>
                            <th>
                                Fecha Firma
                            </th>
                            <th>
                                Tipo de Documento
                            </th>
                            <th>
                                Documento
                            </th>
                            <th>
                                Edad
                            </th>
                            <th>
                                Parentesco
                            </th>
                            <th>
                                Observaciones
                            </th>
                            <th>
                                Nombre del Trabajador
                            </th>
                            <th>
                                Area
                            </th>
                            <th>
                                Codigo
                            </th>
                            <th>
                                Documento
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr class="text-center">
                                @if (i.FamiliarId == null)
                                {
                                    <td class="text-uppercase" name="nombreFamiliar">
                                        @Html.DisplayFor(item => i.Empleado.Nombres)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.FechaFirma)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Familiar.TipoDocumento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Empleado.Documento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Familiar.Edad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Familiar.Parentesco)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Observaciones)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Empleado.Nombres)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Empleado.Area)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Empleado.NroEmpleado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Empleado.Documento)
                                    </td>
                                }
                                else
                                {
                                    <td class="text-uppercase" name="nombreFamiliar">
                                        @Html.DisplayFor(item => i.Familiar.PrimerNombre)
                                        @Html.DisplayFor(item => i.Familiar.SegundoNombre)
                                        @Html.DisplayFor(item => i.Familiar.PrimerApellido)
                                        @Html.DisplayFor(item => i.Familiar.SegundoApellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.FechaFirma)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Familiar.TipoDocumento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Familiar.Documento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Familiar.Edad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Familiar.Parentesco)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Observaciones)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Empleado.Nombres)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Empleado.Area)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Empleado.NroEmpleado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(item => i.Empleado.Documento)
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <thead>
                        <tr>
                            <th>
                                Nombre del Trabajador
                            </th>
                            <th>
                                Fecha Firma
                            </th>
                            <th>
                                Area
                            </th>
                            <th>
                                Documento
                            </th>
                            <th>
                                Codigo
                            </th>
                            <th>
                                Cambiar Fecha de Asistencia
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var i in Model)
                        {
                            <tr class="text-center">
                                <td>
                                    @Html.DisplayFor(item => i.Empleado.Nombres)
                                </td>
                                <td>
                                    @Html.DisplayFor(item => i.FechaFirma)
                                </td>
                                <td>
                                    @Html.DisplayFor(item => i.Empleado.Area)
                                </td>
                                <td>
                                    @Html.DisplayFor(item => i.Empleado.Documento)
                                </td>
                                <td>
                                    @Html.DisplayFor(item => i.Empleado.NroEmpleado)
                                </td>
                                @if (i.Eventos.TipoEvento == "3")
                                {
                                    <td>
                                        <a class="bi bi-info-circle btn btn-outline-primary rounded-pill mb-2"  href="@Url.Action("CambioFechaAsistencia","Eventos", new { Id = i.Id })"></a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a class="bi bi-info-circle btn btn-outline-primary rounded-pill mb-2" rounded-pill data-bs-placement="top" data-bs-toggle="tooltip" title="Este Evento No Requiere Esta Opcion"></a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
        <div class="col-12">
            <a class="bi bi-box-arrow-in-left btn btn-outline-primary rounded-pill mt-2 mb-1" href="~/Eventos/EventosRegistrados"> Atras</a>
        </div>
    </div>
</div>

<script>
    //$(document).ready(function () {
    //    var nombreF = document.getElementsByName('nombreFamiliar');

    //    for (let i = 0; i < nombreF.length; i++) {
    //        if (nombreF[i].innerText == "") {
    //            nombreF[i].style.color = "red";
    //            nombreF[i].innerText = "Familiar Borrado";
    //        }
    //    }
    //})

    $(document).ready(function () {

        var table = $('#tbl_asistenteseventos').DataTable({

            /*"bFilter": false,*/

            responsive: false,

            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']],
            //bFilter": false,
            pageLength: 5,

            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",


                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero-",
                    "sLast": "Último",
                    "sNext": "  - Siguiente",
                    "sPrevious": "Anterior -  "
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
        });



    })
</script>