@model Adm_AutoGestion.Models.Capacitacion
@{
    Layout = "~/Views/Shared/_LayoutMaestra.cshtml";
}

<div class="card m-5" style="margin-top:72px !important;">
    <div class="card-header">
        <h5 class="colorTitulo">
            Registro de Tercero
        </h5>
    </div>

    <div class="card-body mt-3">

        @if (Model.FechaCapacitacion < DateTime.Today)
        {
            <div class="row">
                <b class="colorGrisOscuro">@Model.Nombre</b>
                <h6>Se cerró la asistencia y registro de esta sesión.</h6>
            </div>
        }
        else
        {
            <div class="row">
                <h6 class="colorGrisOscuro">
                    Nombre de la Acción de Formación: <b>@Model.Nombre</b>
                </h6>
            </div>

            <div id="div">
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label>Ingrese su Numero de Documento</label>
                        <input id="Cedula" class="form-control" type="text" onblur="javascript: ValidarInputCedula(this);" maxlength="10" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-4">
                        <button id="botonValidar" class="btn btn-outline-primary" onclick="javascript: ValidarRegistro();">Validar</button>
                    </div>
                </div>
            </div>

            <div id="RegistroDiv" style="display:none;">
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label>Nombre completo</label>
                        <input id="CrearNombre" type="text" class="form-control" maxlength="100" />
                    </div>

                    <div class="col-md-4">
                        <label>Numero de documento</label>
                        <input id="CrearDocumento" type="text" class="form-control" maxlength="10" onblur="javascript: ValidarInputCedula(this)" />
                    </div>

                    <div class="col-md-4">
                        <label>Correo</label>
                        <input id="CrearCorreo" type="email" class="form-control" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-4">
                        <label>Area</label>
                        <input id="CrearArea" type="text" class="form-control" maxlength="100" />
                    </div>

                    <div class="col-md-4">
                        <label>Cargo</label>
                        <input id="CrearCargo" type="text" class="form-control" maxlength="100" />
                    </div>

                    <div id="SociedadDiv" class="col-md-4">
                        <label>Empresa</label>
                        @Html.DropDownList("CrearSociedad", new SelectList(ViewBag.Empresas, "Id", "Nombre"), "Seleccione...", htmlAttributes: new { @class = "form-control selectpicker" })
                    </div>

                    <div id="OtraEmpresaDiv" class="col-md-4" style="display:none;">
                        <label>Empresa</label>
                        <input id="OtraEmpresa" name="OtraEmpresa" type="text" class="form-control" maxlength="100" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <p>Con el envío de mis datos personales, de manera previa, expresa e inequívoca autorizo a la Clínica FOSCAL el tratamiento de mis datos personales aquí consignados, para que sean almacenados, usados y puestos en circulación o suprimidos, conforme a la <a href="https://www.foscal.com.co/institucion/datos-personales/" target="_blank">Política de Tratamiento de la Información</a> que la Organización ha adoptado y que se encuentra publicada en la página web <a href="www.foscal.com.co" target="_blank">www.foscal.com.co</a> que declaro conocer y por ello estar informado de la finalidades de dicho tratamiento, por estar en ella consignado. </p>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-4">
                        <button id="botonRegistrar" class="bi bi-save btn btn-outline-primary mb-2" onclick="javascript: CrearTercero();"> Registrar</button>
                    </div>
                </div>
            </div>
        }



    </div>
</div>

<script>

    $(document).ready(function () {

        $('#CrearSociedad').append($('<option>', {
            value: 'OTRA',
            text: 'OTRA'
        }));

        setTimeout(function () {
            $('#CrearSociedad').selectpicker("refresh");
        },100);
    })

    function ValidarInputCedula(valor) {
        valor.value = valor.value.replace(/\D/g, '');

        if (valor.value.length < 7) {
            $('#botonValidar').attr('disabled', true);
            $('#botonRegistrar').attr('disabled', true);
            valor.value = valor.value.slice(0, 7);
            alertify.alert("El numero de documento debe ser de al menos 7 dígitos");
        } else if (valor.value.length >= 7 && valor.value.length <= 10) {
            $('#botonValidar').attr('disabled', false);
            $('#botonRegistrar').attr('disabled', false);
        } else if (valor.value.length > 10) {
            valor.value = valor.value.slice(0, 10);
        }
    }

    function inputNumeros(input) {
        let valor = $(input).val().replace(/[^0-9\s]/g, '');
        $(input).val(valor.toUpperCase());
    }

    function inputMayusculasAlfabeto(input) {
        let valor = $(input).val().replace(/[^a-zA-ZñÑáéíóúÁÉÍÓÚ\s]/g, '');
        $(input).val(valor.toUpperCase());
    }

    $('#CrearSociedad').change(function () {
        if ($(this).val() == "OTRA") {
            $('#OtraEmpresaDiv').show("fast");
            $('#SociedadDiv').hide("fast");
        }
    });

    $('#OtraEmpresa').on('input', function () {
        inputMayusculasAlfabeto(this);
    });

    $('#Cedula').on('input', function () {
        inputNumeros(this);
    });

    $('#CrearDocumento').on('input', function () {
        inputNumeros(this);
    });

    $('#CrearNombre').on('input', function () {
        inputMayusculasAlfabeto(this);
    });

    $('#CrearArea').on('input', function () {
        inputMayusculasAlfabeto(this);
    });

    $('#CrearCargo').on('input', function () {
        inputMayusculasAlfabeto(this);
    });

    function MostrarRegistroTercero() {
        $('#div').hide("fast");
        $('#RegistroDiv').show("fast");
    }

    function ValidarRegistro() {

        var Data = new FormData();
        Data.append("Id", @Model.Id);
        Data.append("Cedula", $('#Cedula').val());

        $.ajax({
            url: "../ValidarRegistroTercero",
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: Data,
            contentType: false,
            processData: false,
            success: function (result) {
                if (result == "true") {
                    alertify.alert('Se ha registrado a la sesión exitosamente.', function () { location.reload(); });
                } else if (result == "false") {
                    alertify.alert('No se ha encontrado registro de un Tercero con el número de documento ingresado. Por favor llene los datos solicitados.', MostrarRegistroTercero());
                } else {
                    alertify.alert(result, function () { location.reload(); });
                }
            }
        });
    }

    function CrearTercero() {
        try {
            var frmData = new FormData();
            frmData.append("Id", @Model.Id);

            var perfil = '@Request.QueryString["perfil"]';

            if (perfil !== "") {
                frmData.append("Perfil", perfil);
            }

            if ($('#CrearNombre').val() != "") {
                frmData.append("CrearNombre", $('#CrearNombre').val());
            } else { $('#CrearNombre').focus(); throw "El campo Nombre es obligatorio." }

            if ($('#CrearDocumento').val() != "") {
                frmData.append("CrearDocumento", $('#CrearDocumento').val());
            } else { $('#CrearDocumento').focus(); throw "El campo Nro Documento es obligatorio." }

            var correo = $('#CrearCorreo').val();
            var regex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;

            if (regex.test(correo)) {
                if ($('#CrearCorreo').val() != "") {
                    frmData.append("CrearCorreo", $('#CrearCorreo').val());
                } else { $('#CrearCorreo').focus(); throw "El campo Correo es obligatorio." }
            } else {
                throw "Formato de correo inválido";
            }

            if ($('#CrearArea').val() != "") {
                frmData.append("CrearArea", $('#CrearArea').val());
            } else { $('#CrearArea').focus(); throw "El campo Area es obligatorio." }

            if ($('#CrearCargo').val() != "") {
                frmData.append("CrearCargo", $('#CrearCargo').val());
            } else { $('#CrearCargo').focus(); throw "El campo Cargo es obligatorio." }

            if ($('#CrearSociedad').val() == "OTRA") {

                if ($('#OtraEmpresa').val() != "") {
                    frmData.append("CrearSociedad", $('#OtraEmpresa').val());
                } else {
                    $('#OtraEmpresa').focus(); throw "El campo Empresa es obligatorio."
                }
            } else {
                if ($('#CrearSociedad').val() != "") {
                    frmData.append("CrearSociedad", $('#CrearSociedad').val());
                } else { $('#CrearSociedad').focus(); throw "El campo Empresa es obligatorio." }
            }

            $.ajax({
                url: "../CrearTercero",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: frmData,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result == "true") {
                        alertify.alert('Se creó el registro correctamente. Y se inscribió a la sesión correctamente', function () { location.reload(); });
                    } else {
                        alertify.alert(result, function () { location.reload(); })
                    }
                },

                error: function (xhr, status, error) { alertify.alert("" + error); }

            });
        } catch (err) { alertify.alert("" + err); }
    }

</script>